* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #fffefc;
}
header {
    position: sticky;
    top: 0;
    background-color: #caded9;
    padding: 15px 0;
    text-align: center;
}
header h1{
    font-size: 30px;
}
header img {
    display: block;
    block-size: 75px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 5px;
    gap: 20px;
}
.menu a {
    color: black;
    text-decoration: none;
    font-style: italic;
}
.menu a:hover {
    font-weight: bold;
}
.reservar {
    text-align: center;
}
.reservar h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-style: oblique;
}
.reservar p {
    margin-bottom: 10px;
}
.reservar a {
    display: inline-block;
    background-color: #cde9d0;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 25px;
    color: black;
    font-style: italic;
    margin-bottom: 10px;
}
.reservar a:hover {
    padding: 11px 25px;
    font-weight: bold;
    background-color: #aed3b1;
}
.background img {
    width: 100%;
}
.sobre {
    text-align: center;
}
.sobre h2 {
    margin-bottom: 10px;
    font-size: 26px;
}
.sobre p {
    width: 65%;
    margin: 0 auto;
}
.sobre span {
    font-style: italic;
    font-size: 17px;
}

.local {
    text-align: center;
    margin-top: 10px;
}
.local h2 {
    margin-bottom: 10px;
    font-size: 26px;
}
.local p {
    margin-bottom: 10px;
}
.local iframe {
    width: 500px;
    height: 300px;
    margin-bottom: 10px;
}
main {
    flex: 1;
}
footer {
    padding: 10px;
    text-align: center;
    background-color: #caded9;
}